# IDE
.idea
.vscode

# Python
__pycache__/
.ipynb_checkpoints/
.python-version

# EDA
notebooks/*
!notebooks/utils.py

# credentials
.streamlit/secrets.toml
.envrc

# temporary working directory
tmp/
